.debug {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 15px;
  text-align: center;
  background-color: silver;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.world {
  height: 100vh;
  width: 100vw;
  border: 1px solid blue;
}
